    <!-- About Section -->
    <section id="about" class="bg-light text-center">
      <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
              <br/><br/>
              <h2>About Beagle IM</h2>
              <br/>
                <p style="text-align: center;">Beagle IM by Tigase, Inc. is a lightweight and powerful XMPP client for macOS.</p>
                <p style="text-align: center;">It provides an easy way to start using XMPP protocol (formelly known as Jabber) if you've never used it before.</p>
                <p style="text-align: center;">Veterans of the protocol will find many features with which they are familiar and a few enhancements.</p>
                <a href="https://apps.apple.com/us/app/beagleim-by-tigase-inc/id1445349494"><img width="30%" src="img/appstore-download.svg"/></a>
                <br/>
              </div>
              <div class="col-lg-2"></div>
        </div>
      </div>
    </section>
